.flogin_fac {
  position: absolute;
  width: 430px;
  height: 520px;
  left: 35rem;
  top: 12rem;
  background: #FFFFFF;
  border-radius: 8px;
}

.flogin_fac:hover {
  border: 2px solid #DD2D4A;
}

.shadow_fac {
  position: absolute;
  width: 430px;
  height: 520px;
  left: 38rem;
  top: 14rem;
  background: #242424;
  opacity: 0.05;
  filter: blur(48px);
  border-radius: 8px;
}

.topimage_fac {
  position: absolute;
  left: 37rem;
  top: 2rem;
}

.stulogin_fac {
  box-sizing: border-box;
  position: absolute;
  width: 180px;
  height: 40px;
  left: 23rem;
  top: 15rem;
  padding-top: 10px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #242424;
  color: #242424;
  background-color: #FFF;
  border-radius: 8px;
}

.faclogin_fac {
  box-sizing: border-box;
  position: absolute;
  padding-top: 10px;
  width: 200px;
  height: 40px;
  left: 23rem;
  top: 19rem;
  text-decoration: none;
  text-align: center;
  color: #242424;
  background: #DD2D4A;
  border-radius: 8px;
}

.login_fac {
  position: absolute;
  width: 65px;
  height: 30px;
  left: 32px;
  top: 32px;
  font-family: 'Lato',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 34px;
  color: #242424;
}

.email_fac {
  position: absolute;
  width: 34px;
  height: 17px;
  left: 32px;
  top: 70px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #DD2D4A;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 18px 0;
}

.inputemail_fac {
  position: absolute;
  width: 360px;
  height: 22px;
  left: 32px;
  top: 110px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: lowercase;
  border: none;
  border-bottom: 1px solid #242424;
  color: #242424;
  opacity: 0.6;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0;
}

.inputemail_fac:focus {
  outline: none;
}

.password_fac {
  position: absolute;
  width: 60px;
  height: 17px;
  left: 32px;
  top: 170px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #DD2D4A;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.inputpassword_fac {
  position: absolute;
  width: 360px;
  height: 22px;
  left: 32px;
  top: 190px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: lowercase;
  border: none;
  border-bottom: 1px solid #242424;
  color: #242424;
  opacity: 0.6;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0;
}

.inputpassword_fac:focus {
  outline: none;
}

.cbox_fac {
  position: absolute;
  left: 30px;
  top: 275px;
  opacity: 0.6;
}

.Rememberme_fac {
  position: absolute;
  left: 55px;
  top: 275px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #242424;
  opacity: 0.6;
}

.fpass_fac {
  position: absolute;
  right: 33px;
  top: 275px;
  color: #176DE6;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.newperson_fac {
  position: absolute;
  left: 32px;
  top: 320px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #242424;
  opacity: 0.6;
}

.newperson_fac a{
  color: #DD2D4A;
}

.finlogin_fac {
  position: absolute;
  width: 75px;
  height: 34px;
  left: 215px;
  top: 400px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  color: #DD2D4A;
}

.ellipse_fac {
  box-sizing: border-box;
  position: absolute;
  width: 96px;
  height: 96px;
  left: 2px;
  top: 2px;
  background: #FFFFFF;
  border: 2px solid #DD2D4A;
  border-radius: 50%;
  position: absolute;
  top: 400px;
  left: 300px;
}

.arrow_fac {
  position: relative;
  top: 30px;
  left: 25px;
}
